<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <div class="commit-button" style="height: 80px; width: 360px">
      <svg viewBox="0 0 360 80">
        <defs>
          <filter id="inset-shadow" x="-50%" y="-50%" width="360" height="80">
            <feFlood fill-color="black"></feFlood>
            <feComposite in2="SourceAlpha" operator="out"></feComposite>
            <feGaussianBlur stdDeviation="4"></feGaussianBlur>
            <feOffset dx="0" dy="0" result="offsetblur"></feOffset>
            <feFlood flood-color="black" result="color"></feFlood>
            <feComposite in2="offsetblur" operator="in"></feComposite>
            <feComposite in2="SourceAlpha" operator="in"></feComposite>
            <feMerge>
              <feMergeNode in="SourceGraphic"></feMergeNode>
              <feMergeNode></feMergeNode>
            </feMerge>
          </filter>
        </defs>

        <g filter="url(#inset-shadow)">
          <g clip-path="url(#clip-round-corners)">
            <rect width="360" height="80" fill="#428a3e" rx="15px" ry="15px"></rect>
            <text text-anchor="middle" x="180" y="50" font-family="Verdana" font-size="30" fill="#ffffff">Commit</text>
          </g>
          <g  transform="translate(-275,0)" cursor="pointer">
            <rect width="360" height="80" fill="#5cb65c" rx="15px" ry="15px"></rect>
            <text text-anchor="middle" x="180" y="50" font-family="Verdana" font-size="30" fill="#ffffff">Commited</text>
            <path transform="translate(317, 28) scale(0.4)" fill="#fff" d="M 0,0 L 19,0 L 50,30 L 19,60 L 0,60 L 31,30 z"></path>
          </g>
        </g>
      </svg>
    </div>
    <img src="https://cdn-images-1.medium.com/max/1600/1*U7-kEh5rvHXD2TVIgdugWw.jpeg">
  </div>
</div>
